[Unit]
Description=RFID to Supabase Service
After=network.target

[Service]
Type=simple
User=recomputer
WorkingDirectory=/home/recomputer
ExecStart=/usr/bin/python3 /home/recomputer/rfid_to_supabase.py --mode input
Restart=always
RestartSec=3
EnvironmentFile=/home/recomputer/.env
StandardInput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
