[Unit]
Description=Supabase Realtime to MQTT Semaforo
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/recomputer/supabase_realtime_to_mqtt.py
WorkingDirectory=/home/recomputer
Restart=always
RestartSec=5
User=recomputer

[Install]
WantedBy=multi-user.target
